[Desktop Entry]
Version=1.0
Type=Application
Name=WineGame (flatpak)
Name[zh_CN]=Wine游戏助手 (flatpak)
Name[zh_TW]=Wine遊戲助手 (flatpak)
Comment=WineGame (flatpak)
Comment[zh_CN]=Wine游戏助手 (flatpak)
Comment[zh_TW]=Wine遊戲助手 (flatpak)
Icon=net.winegame.client
Exec=winegame %U
Categories=Game;
Keywords=gaming;wine;emulator;
Terminal=false
MimeType=x-scheme-handler/winegame;
X-GNOME-UsesNotifications=true
X-Desktop-File-Install-Version=0.26
